name: Main
on: push

jobs:
  deps:
    name: Install Dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: echo Installing Dependencies
  build:
    name: Build
    needs: deps
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build
        run: echo Building
  unittests:
    name: Unit Test
    needs: deps
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Tests
        run: echo Running Unit Tests
  static:
    name: Static Code Analysis
    needs: deps
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Static Code Analysis
        run: echo Running Static Code Analysis
  test:
    needs: [build,unittests,static]
    name: Deploy Test
    environment: Test
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo Deploying to test
  stage:
    needs: test
    name: Deploy Stage
    environment: Stage
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo Deploying to stage
  prod:
    needs: stage
    name: Deploy Prod
    environment: Prod
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo Deploying to prod