name: Main
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build
        run: echo Building
  test:
    needs: build
    name: Deploy Test
    environment:
      name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo Deploying to test
  stage:
    needs: test
    name: Deploy Stage
    environment:
      name: Stage
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo Deploying to stage
  prod:
    needs: stage
    name: Deploy Prod
    environment:
      name: Prod
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo Deploying to prod